@font-face {
  font-family: 'Brown';
  src: url('../fonts/brown/Brown-Regular.eot');
  src: local('Brown-Regular'),
      url('../fonts/brown/Brown-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/brown/Brown-Regular.woff') format('woff'),
      url('../fonts/brown/Brown-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Brown !important;
}